.sign-in{
    width:35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;

    &__title{
        margin-top: 3rem;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__subtitle{
        display: block;
        font-size: 1rem;
        margin-bottom: 4rem;
    }

    & .buttons{
        margin-top: 2rem;
    }
}