$color-dark-dark-1:#444;
$color-dark-dark-2:#777;
$color-dark-dark-3:#888;
$color-dark-light-1:#eee;
$color-dark-light-2:#999;

$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
