@import '../../scssAbstract/variable';
.card{
    // border: 1px solid $color-dark-dark-2;
    background-color: $color-grey-light-1;
    // background-color: #ad9c9c;
    width: 20%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    box-shadow: .2rem .5rem .5rem 0 rgba($color: #000000, $alpha:.3);
    transition: all .3s;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0 1rem 1rem 0 rgba($color: #000000, $alpha:.4);
    }
}