
@import '../../scssAbstract/variable';

.header{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
    background-color: $color-secondary;

    &_logo{
        width:3rem ;
        position: absolute;
        top: 0;
        left: 5rem;

        @media screen and (max-width:37.5em){
            position: absolute;
            top: 0;
            left: 1rem;
        }
    }
    
    &__options{
        // width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.2rem;
        @media screen and (max-width:37.5em){
            // flex-direction: column;
            font-size: 1rem;
        }
    }

    &__option{
        // display: block;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        // margin-right: 3rem;
        @media screen and (max-width:37.5em){
            padding: 0 .5rem;
        }

        &:hover{
            color: $color-primary;
        }
    }
}